<!DOCTYPE html>
<html>
<head>
  <title>Edit Item</title>
</head>
<body>
  <h1>Edit Item</h1>
  <form method="POST" action="/coupons/all/put" >
    <input type="hidden" name="_method" value="PUT">
    <label for="name">Code:</label>
    <input type="text" name="code" value="{{code}}" required>
    <br>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required>
    <br>
    <label for="discount_value">discount_value:</label>
    <input type="number" name="discount_value" id="discount_value" required>
    <br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>